---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection, type CollectionEntry } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = await getCollection("blog");
const sortedPosts = (posts as any).sort(
	(a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			html,
			body {
				height: 100%;
				min-height: 100vh;
			}
			body {
				display: flex;
				flex-direction: column;
				overflow-y: scroll;
			}
		main {
			width: 960px;
			flex: 1;
			display: flex;
			flex-direction: column;
			min-height: calc(100vh + 1px);
		}
			section {
				flex: 1;
				display: flex;
				flex-direction: column;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}

			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body class="bg-neutral-50 dark:bg-neutral-950">
		<Header />
		<main>
			<section>
				<ul
					class="mx-auto flex flex-wrap gap-8 justify-evenly p-0 m-0 list-none"
				>
					{
						(sortedPosts.reverse() as any).map((post: any) => (
							<li class="max-w-[260px] w-full">
								<a
									href={`/blog/${post.slug}/`}
									class="block bg-white border border-neutral-200 rounded-2xl p-4 transition-colors duration-150 hover:border-red-200 dark:border-neutral-800 dark:bg-neutral-900 dark:hover:border-red-400"
								>
									<img
										class="rounded-xl object-cover object-center w-full h-40 mb-3"
										width={1000}
										height={1000}
										src={post.data.heroImage}
										alt=""
									/>
									<h4 class="font-bold text-lg text-neutral-900 mb-1 dark:text-neutral-100">
										{post.data.title}
									</h4>
									<p class="text-xs text-neutral-400 mb-0 dark:text-neutral-400">
										<FormattedDate
											date={post.data.pubDate}
										/>
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
