---
import { Image } from "astro:assets";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GithubHeatmap from "../components/GithubHeatmap/GithubHeatmap.astro";
import Layout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import { SITE_DESCRIPTION } from "../consts";
import Avatar from "../images/jonathangroberg.jpeg";
const skills = {
  languages: ["Typescript", "C#", "C++", "Python", "SQL", "HTML", "CSS"],
  frameworks: [
    "Vue",
    ".NET",
    "React",
    "Astro",
    "Node.js",
    "Bootstrap",
    "TailwindCSS",
  ],
  tools: [
    "Git",
    "Vim",
    "Linux",
    "Postman",
    "REST-API",
    "Agile",
    "VS Code",
    "Visual Studio",
    "SQL Server Management Studio",
  ],
};
const education = [
  {
    name: "University of Florida",
    location: "Gainesville, FL",
    degree: "Bachelor of Science in Computer Science",
    date: "August 2019 - Present",
  },
  {
    name: "Hillsborough Community College",
    location: "Tampa, FL",
    degree: "Associate of Arts",
    date: "August 2017 - May 2019",
  },
];
---

<Layout title={"Home"} description={SITE_DESCRIPTION}>
  <Header />
  <main class="mx-auto py-8 flex flex-wrap gap-8">
    <!-- Header Card -->
    <Card>
      <div
        class="flex flex-wrap sm:flex-nowrap justify-center sm:text-start gap-x-10 gap-y-5 p-8 my-2 sm:p-0 mx-auto text-center px-2 sm:px-0"
      >
        <Image
          src={Avatar}
          alt="Image of Jonathan Groberg"
          loading="eager"
          class="shadow outline outline-1 outline-white sm:w-20 sm:h-20 w-24 h-24 rounded-sm mx-auto"
        />
        <div class="">
          <p class="text-lg mb-2">
            I'm a <a
              href="https://www.perplexity.ai/search/what-is-a-software-engineer-epTLXNgKRRCYFCODzlVr8A"
              class="border-b border-red-300 hover:border-b-2 hover:border-red-300"
              >Software Engineer Intern</a
            > at the
            <a
              class="border-gray-400 border-b hover:border-red-300 hover:border-b-2"
              href="https://www.teamhcso.com/"
            >
              Hillsborough County Sherrif's Department
            </a> and Computer Science Junior at the <a
              class="border-gray-400 border-b hover:border-red-300 hover:border-b-2"
              href="https://www.eng.ufl.edu/">University of Florida 🐊</a
            > from the
            <a
              href="https://www.perplexity.ai/search/greater-tampa-bay-3jbHPzbtRzy1iFrqoO1lhA"
              class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
              >Greater Tampa Bay</a
            > 📍
          </p>
        </div>
      </div>
    </Card>
    <div class="flex w-full gap-4 justify-start">
      <button>
        <a
          href="https://www.linkedin.com/in/jonathan-groberg/"
          class="hover:bg-red-50 hover:outline-2 text-black outline outline-1 outline-red-300 shadow rounded-sm px-4 py-2 text-sm"
        >
          {"-> linkedin"}
        </a>
      </button>
      <button>
        <a
          href="/resume.pdf"
          class="hover:bg-gray-50 bg-white hover:outline-2 text-black outline outline-gray-300 outline-1 shadow rounded-sm px-4 py-2 text-sm"
        >
          {"-> resume.pdf"}
        </a>
      </button>
    </div>
    <section class="flex-auto flex flex-wrap gap-4 overflow-auto">
      <Card title="Github Contributions">
        <GithubHeatmap />
      </Card>
      <!-- <div class="border-t my-8"></div> -->
    </section>
    <!-- <Card title="Currently">
      <p class="hover:*:bg-red-50 underline-offset-2 my-auto mb-2">
        Working on a <a
          href="https://github.com/JonCGroberg"
          class="border-b-2 border-red-200">Habit Tracking Application</a
        >. Located in the
      </p>
    </Card> -->
    <Card title="About Me">
      <p>
        Hi! I'm Jonathan Groberg, a software engineer intern and computer
        science junior at the University of Florida. I'm currently working on
        projects that involve web development, machine learning, and artificial
        intelligence. I'm passionate about technology and enjoy learning new
        things every day. I am located in the
        <a
          href="https://www.perplexity.ai/search/greater-tampa-bay-3jbHPzbtRzy1iFrqoO1lhA"
          class="border-b border-red-200 hover:bg-red-50 hover:border-b-2"
          >Greater Tampa Bay</a
        > 📍
      </p>
      <p>
        I'm passionate about software development, machine learning, and
        artificial intelligence. I enjoy working on projects that challenge me
        and allow me to learn new things. I'm always looking for new
        opportunities to grow and improve my skills.
      </p>
    </Card>

    <Card title="Skills">
      <span class="inline-flex gap-1">
        <div class="text-sm flex">
          Languages:
          <span class="gap-2 px-1"
            >{
              skills.languages.map((lang) => (
                <span class="bg-red-100 outline text-xs outline-1 outline-red-300 shadow-sm rounded mx-1 px-1 text-center">
                  {lang}
                </span>
              ))
            }</span
          >
        </div>
        <div class="text-sm flex">
          Framworks/Libraries:
          <span class="gap-2 flex-1">
            {
              skills.frameworks.map((framework) => (
                <span class="bg-orange-100 outline text-xs outline-1 outline-orange-300 shadow-sm mx-1 px-1 rounded">
                  {framework}
                </span>
              ))
            }
          </span>
        </div>
        <div class="text-sm flex">
          Tools/Technologies:
          <span class="gap-2 px-1">
            {
              skills.tools.map((tool) => (
                <span class="bg-green-100 outline text-xs  outline-1 outline-green-300 shadow-sm mx-1 px-1 rounded">
                  {tool}
                </span>
              ))
            }
          </span>
        </div>
      </span>
    </Card>

    <Card title="Education">
      <div class="flex-wrap flex gap-2 mt-4">
        <Card>
          <p>
            <a
              href="https://www.eng.ufl.edu/"
              class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
              >University of Florida</a
            >
            : Bachelor of Science in Computer Science
            <br />
            <span class="text-sm">Jan 2024 - Dec 2025</span>
            <br />
            <span class="text-sm">GPA: 4.0/4.0</span>
            <br />
            <span class="text-sm"
              >Relevant Courses: Enterprise Software Engineering, Virtual
              Reality, Python for Biology</span
            >
            <br />
            <span class="text-sm">Clubs: ColorStack, OpenSource Club </span>
          </p>
        </Card>
        <Card>
          <p>
            <a
              href="https://www.hccfl.edu/"
              class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
              >Hillsborough Community College</a
            >
            : Associate of Arts in Engineering
            <br />
            <span class="text-sm">Jan 2022 - Aug 2023</span>
            <br />
            <span class="text-sm">GPA: 3.6/4.0</span>
            <br />
          </p>
        </Card>
      </div>
    </Card>
    <Card title="Projects">
      <ul>
        <li>
          <a
            href="blog"
            class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
            >Personal Blog</a
          >
          : A personal blog where I write about technology, software development,
          and other topics that interest me.
        </li>
        <li>
          <a
            href=""
            class="border-b border-red-200 hover:border-b-2 hover:border-red-300"
            >Habit Tracking Application</a
          >
          : A habit tracking application that allows users to track their habits
          and set goals for themselves.
        </li>
      </ul>
    </Card>

    <Card title="Experience">
      <p>
        I have experience working on a variety of projects, including web
        development, machine learning, and artificial intelligence. I have
        worked with a number of different technologies and languages, including
        JavaScript, Python, C#, and SQL. I have also worked with frameworks and
        libraries such as React, Astro, and Vue.
      </p>
      <p>
        I have experience working on both front-end and back-end development
        projects, as well as machine learning and artificial intelligence
        projects. I enjoy working on projects that challenge me and allow me to
        learn new things.
      </p>
    </Card>
    <Card title="Education" />
    <Card title="Socials" />
  </main>
  <Footer />
</Layout>
